<ion-view view-title="Quiz" class="backgroundColor">
  <ion-content>
    <div> Adding Details
      <button class="button check-button" ng-click="insertCourses()">Add Course</button>
      <button class="button check-button" ng-click="insertModules()">Add Modules</button>
      <button class="button check-button" ng-click="insertSkills()">Add Skills</button>

      <button class="button check-button" ng-click="insertQuestions()">Add 11 questions</button>
      <button class="button check-button" ng-click="insertChoices()">Add 11 questions choices</button>
      <button class="button check-button" ng-click="insertQuestionSkills()">Add Question Skills</button>
    </div>

    <div> Selecting Questions
      <button class="button check-button" ng-click="selectQuestionsWithChoices()">Select all questions</button>
<!--      <button class="button check-button" ng-click="selectSkillsFromModules()">Select all skills from Modules 1 and 2</button>
      <button class="button check-button" ng-click="selectUnseenQuestionsForSkill()">Select questions for skill1</button>-->
      <button class="button check-button" ng-click="selectQuestionsBasedOnLogic()">Select questions from Modules 1 and 2 based on Logic</button>

    <div>
  </ion-content>
</ion-view>
