<ion-view view-title="Browse" class="backgroundColor">
  <ion-content>

	<div class="card">
	  <div class="item item-divider text-center">
		Practice
	  </div>
	  <div class="item item-text-wrap text-center">
		Resume current session
	  </div>
	  <div class="item item-text-wrap text-center">
		Start new session
	  </div>
	</div>

	<div class="card">	
	  <div class="item item-divider text-center">
		Quiz-Off
	  </div>
	  <div class="item item-text-wrap text-center">
		Challenge a friend
	  </div>
	  <div class="item item-text-wrap text-center">
		Play a random player
	  </div>
	  <div class="item item-text-wrap text-center">
		Enter a tournament
	  </div>
	</div>
  </ion-content>
</ion-view>
